<div class="background-gradient">
<div class="cover-image parallax" style="background:url(<%= image_path 'laidojimo_namai' %>);  height: 480px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="text-center padding-top-cover">
          <!-- <h1>Visi Laidojimo Namai ir Kremavimo Paslaugos Vilniuje</h1> -->
          <!-- <h3>Užsisakyk internetu tinkamiausią pasiūlymą laidojimo bei kremavimo paslaugoms Vilniuje.</h3> -->
          <h1 style="color: rgba(17, 136, 203, 0.82);
    font-weight: 600;">Apie mus</h1>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="text-center padding-top-cover">

          <h3>Atsitikus nelaimei ir mirus artimam šeimos nariui, daugelis žmonių pasijaučia itin sutrikę ir nežinantys ką derėtų jiems daryti toliau. Žmogaus mirtis patampa ne tik psichologinė kančia, bet ir įtensyvus darbas organizuojant laidotuves. Prisiminimai apie šeimos narių laidotuvių surengimą įstringa didžiajai daugumai žmonių kaip pats sunkiasias dalykas, kuri tenka ištverti gyvenime. Mes siekiame palengvinti žmonių kančias centralizuojant laidotuvių organizavimą internetinėje platformoje. Tikimes, jog tai padės žmonėms turėti sklandesnę ir mažiau streso reikalaujančią atsisveikinimo su artimuoju patirtį, bei palengvins sunkiausią gyvenimo akimirką.</h3>

          <br><br>

          <h3>Esant klausimams, skambinti - 867441756</h3>
        </div>
    </div>
  </div>
</div>
