<button class="" , style="
    background-color: rgba(255, 255, 255, 0);    border: none; float:right; font-size: 30px; color: grey;    margin-right: 5px;" data-dismiss="modal" aria-label="Close">x</button>
<div class="text-center" style="margin-left: 14px;">

<h2>Paskambink ir užsisakyk</h2>
<img src="<%= image_path 'call' %>" alt="" Style="    height: 200px;">

<h2><i class="fa fa-phone" aria-hidden="true" style="color:green;"></i> <a href="tel:+37069304228">869304228</a></h2>
</div>


