<!-- <button class="" , style="
    background-color: rgba(255, 255, 255, 0);    border: none; float:right; font-size: 30px; color: grey;    margin-right: 5px;" data-dismiss="modal" aria-label="Close">x</button>
<div class="text-center" style="margin-left: 14px;">

<h2>Paskambink ir užsisakyk</h2>
<img src="<%#= image_path 'call' %>" alt="" Style="    height: 200px;">

<h2><i class="fa fa-phone" aria-hidden="true" style="color:green;"></i> <a href="tel:+37069304228">869304228</a></h2>
</div> -->

  <iframe id="JotFormIFrame-72072853534356" onload="window.parent.scrollTo(0,0)" allowtransparency="true" src="https://form.jotformeu.com/72072853534356" frameborder="0" style="width:100%; height:0px; border:none;" scrolling="no"> </iframe> <script type="text/javascript"> var ifr = document.getElementById("JotFormIFrame-72072853534356"); if(window.location.href && window.location.href.indexOf("?") > -1) { var get = window.location.href.substr(window.location.href.indexOf("?") + 1); if(ifr && get.length > 0) { var src = ifr.src; src = src.indexOf("?") > -1 ? src + "&" + get : src + "?" + get; ifr.src = src; } } window.handleIFrameMessage = function(e) { var args = e.data.split(":"); if (args.length > 2) { iframe = document.getElementById("JotFormIFrame-" + args[2]); } else { iframe = document.getElementById("JotFormIFrame"); } if (!iframe) return; switch (args[0]) { case "scrollIntoView": iframe.scrollIntoView(); break; case "setHeight": iframe.style.height = args[1] + "px"; break; case "collapseErrorPage": if (iframe.clientHeight > window.innerHeight) { iframe.style.height = window.innerHeight + "px"; } break; case "reloadPage": window.location.reload(); break; } var isJotForm = (e.origin.indexOf("jotform") > -1) ? true : false; if(isJotForm && "contentWindow" in iframe && "postMessage" in iframe.contentWindow) { var urls = {"docurl":encodeURIComponent(document.URL),"referrer":encodeURIComponent(document.referrer)}; iframe.contentWindow.postMessage(JSON.stringify({"type":"urls","value":urls}), "*"); } }; if (window.addEventListener) { window.addEventListener("message", handleIFrameMessage, false); } else if (window.attachEvent) { window.attachEvent("onmessage", handleIFrameMessage); } </script>
