<div class="container" style="background: #00d2ff;
background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);background: linear-gradient(to right, #3a7bd5, #00d2ff);
color: white; width: 100vw; height: 100vh">
<div class="row">

<div class="col-md-offset-4 col-md-4 padding-top-90 text-center">
<h1 class="padding-top-90">Dėkojame už užsakymą</h1>
<h3>Turėtumėte gauti iš laidojimo namų skambutį patvirtinantį Jūsų užsakymą</h3>
<h3 style="">20 minučių bėgyje</h3>
</div>
</div>
