// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
    height: 100%;
    margin: 0;
    font-family: Montserrat;
}

h1 {
  font-size: 48px;
}

h3 {
  font-size: 22px;
  font-weight: 200;
}

.padding-top-cover {
  padding-top: 150px;
}

.padding-top-90 {
  padding-top: 90px;
}

.cover-image {
    height: 60vh;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

}

.shadow {
    -webkit-box-shadow: 0px 24px 69px 14px rgba(0,0,0,0.84);
    -moz-box-shadow: 0px 24px 69px 14px rgba(0,0,0,0.84);
    box-shadow: 0px 24px 69px 14px rgba(0, 0, 0, 0.84);
}

.card {
      display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
    box-shadow: 3px 2px 14px rgba(169, 169, 169, 0.5);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    color: black;
    border-radius: 7px;
    padding: 20px;
    margin-bottom: 35px;
}

.card h1 {
    font-size: 28px;
    font-weight: 300;
    margin: 5px;
}

.card h2 {
    font-size: 16px;
    font-weight: 300;
    margin: 5px;
}

.background-gradient {
  background: #e2e2e2; /* Old browsers */
  background: -moz-linear-gradient(top,  #e2e2e2 0%, #f2f2f2 50%, #f2f2f2 51%, #f9f9f9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #e2e2e2 0%,#f2f2f2 50%,#f2f2f2 51%,#f9f9f9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #e2e2e2 0%,#f2f2f2 50%,#f2f2f2 51%,#f9f9f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */

}

.star-color {
  color:  rgb(254, 186, 2);
}

.picture {
    height: 200px;
    width: 300px;
    border-radius: 4px;
}

.margin {
  margin:5px;
}

.green {
  color: green;
}

.margin-top-15 {
  margin-top: 15px;
}

.float-right {
  float: right;
}

.map {
    width: 48vw;
    border-radius: 4px;
    height: 93vh;
    // position: fixed;
    top: 0;
    z-index: auto;
    min-width: 380px;
}

.parallax {
  height: 480px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-add {
      border-color: rgba(255,255,255,0.72);
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 99;
    background-color: rgba(27,29,2,0.44);
    // font-family: 'Amatic SC', cursive;
    font-size: 20px;
}

.navbar-nav {
      float: left;
    margin: 0;
    list-style:none;
}
.navigatiom-add {
      border-color: rgba(255,255,255,0.72);
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 99;
    background-color: rgba(57, 152, 207, 0.54);
    // font-family: 'Amatic SC', cursive;
    font-size: 20px;
}

.nav-btn {
  border-right-style: double;
    border-left-color: rgba(255,255,255,0.72);
    border-right-color: rgba(255,255,255,0.72);
    width: 110px;
        font-weight: 100;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
